body {
    font-family: "Lato", sans-serif;
    cursor: url('./images/cursor.png'), auto;
  }
  
  .fondo {
    background-image: url('./images/fondo.png');
  }
  
  .container {
    max-width: 100%!important;
  }
  
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  h1 {
    font-size: 84px;
    color: white;
    font-weight: 700;
    margin-top: 5%;
    margin-left: 5%;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: -7px;
    right: 18px;
    font-size: 50px;
    margin-left: 50px;
  }
  
  /* Cards */
  .card {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    margin: 5rem auto;
    border: 1px solid #333;
    box-shadow: -3px 1px 0px 2px rgba(0, 0, 0, 1);
    border-radius: 1rem;
    width: 90%;
    height: 50vh;
  }
  
  .card > div {
    width: 60%;
  }
  
  .card > .card-img {
    display: flex;
    width: 40%;
    height: 100%;
    justify-content: center;
    align-items: center;
  }
  
  .card > .card-img > img {
    border: 1px solid #333;
    width: 35%;
    height: 75%;
    border-radius: 100px;
  }
  
  /* Banner */
  .nuestro-impacto {
    width: 90%;
    margin: 5rem auto;
    font-weight: bold;
  }
  
  .banner {
    border: 1px solid #333;
    box-shadow: -3px 1px 0px 2px rgba(0, 0, 0, 1);
    border-radius: 1rem;
    width: 90%;
    margin: 0 auto;
    position: relative;
    display: flex;
    background: #A4C8BA;
    justify-content: center;
  }
  
  .banner-logo,
  .banner > button {
    position: absolute;
    background-position: center;
    background-size: contain;
  }
  
  .banner-logo {
    width: 60px;
    height: 60px;
    background-image: url("images/AntartidaLogo.svg");
    top: 1rem;
    left: 3rem;
  }
  
  .banner > button {
    border: none;
    border-radius: 100%;
    width: 2.5rem;
    height: 2.5rem;
    background-image: url(./images/Flecha.svg);
    right: 1rem;
    bottom: 1rem;
  }
  
  .titleContainer {
    display: flex;
    flex-direction: column;
    width: 40%;
    justify-content: center;
    align-items: center;
  }
  
  .titleContainer > h1 {
    margin: 0;
    font-size: 4rem;
    font-weight: bold;
  }
  
  .titleContainer > p {
    margin: 0;
    font-size: 12px;
  }
  
  .banner-img-container {
    display: flex;
    width: 50%;
    align-items: flex-end;
    gap: 0 10px;
  }
  
  .banner-img {
    width: 30%;
    height: 332px;
    margin: 1rem 0;
    border-radius: 1rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("images/Antartida.svg");
  }
  
  .banner-img-container .banner-img:nth-child(2) {
    height: 370px;
  }
  
  /* Marcas */
  .marcas-component {
    height: 100vh;
    margin: 2rem;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .marcas-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 5px;
    width: 80%;
    margin: 3rem auto;
  }
  
  .marcas-container .grid-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0px;
  }
  
  .marcas-container img {
    width: 80%;
    height: auto;
    object-fit: cover;
  }
  
  .prev-form > img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
  }
  
  /* Formulario */
  .form {
    display: flex;
    height: 90vh;
    justify-content: center;
    flex-direction: column;
  }
  
  .grid-container {
    display: grid;
    width: 50%;
    margin: 0 auto;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 20px;
  }
  
  .full-span {
    grid-column: span 2;
  }
  
  input, textarea {
    background: #C7AFE9;
    border: none;
    margin: 5px;
    box-shadow: -1px 0px 0px 3px rgba(0, 0, 0, 1);
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
  }
  
  textarea {
    height: 100px;
  }
  
  .form > button {
    margin: 20px auto;
    padding: 15px 40px;
    background-color: #FFD015;
    color: #333;
    font-weight: 600;
    border: 1px solid #333;
    cursor: pointer;
  }
  
  /* Footer */
  footer {
    background: #A4C8BA;
    min-height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  
  footer > div {
    display: flex;
    justify-content: space-between;
    width: 90%;
    align-items: center;
  }
  
  footer > div > ul > li {
    list-style-type: none;
    font-weight: bold;
    margin: 10px 0;
  }
  
  footer > div > ul {
    margin: auto 0;
    display: flex;
    gap: 10px;
  }
  
  .icon {
    gap: 20px;
    display: flex;
  }
  
  .icon > img {
    width: 40px;
    height: 40px;
    vertical-align: middle;
  }
  
  div > p {
    font-size: 12px;
    font-weight: 600;
    text-align: left;
    margin: 10px 10px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {
      padding-top: 15px;
    }
  
    .sidenav a {
      font-size: 18px;
    }
  }
body {
  font-family: "Lato", sans-serif;
  cursor: url('./images/cursor.png'), auto;
}

.fondo {
  background-image: url('./images/fondo.png');
}

.container {
  max-width: 100%!important;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: -20px;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

h1 {
  font-size: 84px;
  color: white;
  font-weight: 700;
  margin-top: 5%;
  margin-left: 5%;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Cards */
.container-card {
  display: flex;
  flex-direction: column;
  margin: 5rem 0;
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden; /* Para asegurarte de que el pseudo-elemento no sobresalga del contenedor */
}

.container-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(./images/fondoArticle.png);
  background-size: cover;
  background-position: center;
  opacity: 0.3; /* Ajusta la opacidad de la imagen de fondo aquí */
  z-index: -1; /* Asegúrate de que el pseudo-elemento quede detrás del contenido */
}

.card {
  z-index: 1;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%,-50%);

  display: flex;
  justify-content: space-between;
  flex-direction: row;
  
  border: 1px solid #333;
  box-shadow: -3px 1px 0px 2px rgba(0, 0, 0, 1);
  border-radius: 1rem;
  width: 80%;

}

.card > .card-content {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: left;
  padding: 1rem;
}
.card-content>p{
  font-size: 14px;
}
.card-content>button{
  border: 2px solid #333;
  height: 3rem;
  width: 10rem;
  margin: 0 auto;
}
.card > .card-img {
  display: flex;
  width: 25rem;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.card > .card-img > .card-img-b {
  border: 1px solid #333;
  width: 10rem;
  height: 75%;
  border-radius: 100px;
}

/* Banner */
.nuestro-impacto {
  width: 90%;
  margin: 5rem auto;
  font-weight: bold;
}

.banner {
  border: 1px solid #333;
  box-shadow: -3px 1px 0px 2px rgba(0, 0, 0, 1);
  border-radius: 1rem;
  width: 90%;
  margin: 0 auto;
  position: relative;
  display: flex;
  background: #A4C8BA;
  justify-content: center;
}

.banner-logo,
.banner > button {
  position: absolute;
  background-position: center;
  background-size: contain;
}

.banner-logo {
  width: 60px;
  height: 60px;
  background-image: url("images/AntartidaLogo.svg");
  top: 1rem;
  left: 3rem;
}

.banner > button {
  border: none;
  border-radius: 100%;
  width: 2.5rem;
  height: 2.5rem;
  background-image: url(./images/Flecha.svg);
  right: 1rem;
  bottom: 1rem;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  width: 40%;
  justify-content: center;
  align-items: center;
}

.titleContainer > h1 {
  margin: 0;
  font-size: 4rem;
  font-weight: bold;
}

.titleContainer > p {
  margin: 0;
  font-size: 12px;
}

.banner-img-container {
  display: flex;
  width: 50%;
  align-items: flex-end;
  gap: 0 10px;
}

.banner-img {
  width: 30%;
  height: 332px;
  margin: 1rem 0;
  border-radius: 1rem;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("images/Antartida.svg");
}

.banner-img-container .banner-img:nth-child(2) {
  height: 370px;
}

/* Marcas */
.marcas-component {
  height: 100vh;
  margin: 2rem;
  font-family: Arial, Helvetica, sans-serif;
}

.marcas-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, auto);
  gap: 5px;
  width: 80%;
  margin: 3rem auto;
}

.marcas-container .grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0px;
}

.marcas-container img {
  width: 80%;
  height: auto;
  object-fit: cover;
}

.prev-form > img {
  max-width: 100%;
  height: auto;
  object-fit: contain;
}

/* Formulario */
.form {
  display: flex;
  height: 90vh;
  justify-content: center;
  flex-direction: column;
}

.grid-container {
  display: grid;
  width: 50%;
  margin: 0 auto;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, auto);
  gap: 20px;
}

.full-span {
  grid-column: span 2;
}

input, textarea {
  background: #C7AFE9;
  border: none;
  margin: 5px;
  box-shadow: -1px 0px 0px 3px rgba(0, 0, 0, 1);
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}

textarea {
  height: 100px;
}

.form > button {
  margin: 20px auto;
  padding: 15px 40px;
  background-color: #FFD015;
  color: #333;
  font-weight: 600;
  border: 1px solid #333;
  cursor: pointer;
}

/* Footer */
footer {
  background: #A4C8BA;
  min-height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

footer > div {
  display: flex;
  justify-content: space-between;
  width: 90%;
  align-items: center;
}

footer > div > ul > li {
  list-style-type: none;
  font-weight: bold;
  margin: 10px 0;
}

footer > div > ul {
  margin: auto 0;
  display: flex;
  gap: 10px;
}

.icon {
  gap: 20px;
  display: flex;
}

.icon > img {
  width: 40px;
  height: 40px;
  vertical-align: middle;
}

div > p {
  font-size: 12px;
  font-weight: 600;
  text-align: left;
  margin: 10px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}
  